@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');


*{
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body{
  background-color: hsl(30, 54%, 90%);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

section{
  width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

section img{
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

section h1{
  font-family: "Young Serif", serif;
  font-weight: 400;

}

section p{
  font-weight: 400;
}

div.preparation{
  background-color: hsl(30, 54%, 90%);
  padding: 12px 20px;
  border-radius: inherit;
  margin: 24px 0px;
}

div.preparation > h3{
  color: hsl(332, 51%, 32%);
  margin-bottom: 8px;
}

div.preparation > ul {
  margin-left: 16px;
}

div.preparation > ul li{
  margin-bottom: 8px;
}

div.preparation > ul li span{
  font-weight: bold;
  color: hsl(24, 5%, 18%);
  margin-right: 8px;
}

h2{
  color: hsl(14, 45%, 36%);
  font-weight: 700;
  margin-bottom: 12px;
}

ul.ingredients,
ol{
  margin-left: 20px;
}

ul.ingredients li,
ol li{
  margin-bottom: 8px;
}

hr{
  margin: 20px 0;
}

ol li{
  color: hsl(30, 10%, 34%);
}

ol li span{
  font-weight: 700;
  color: hsl(24, 5%, 18%);
}

p.nutrition{
  margin: 12px 0;
}

table{
  width: 100%;
}

tr{
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding: 8px 0px;
  color: hsl(30, 10%, 34%);
}

td:nth-child(2){
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}
